header{
    background-image: url(img/en-tête-numérique-de-site-web-de-technologie-abstraite-fond-de-drapeau-74602570.jpg);
    display: block;
    height: 100px;
    width: 100%;
    background-size: cover;
    text-align: center;    
    }

body{
    overflow-x: hidden;
    margin: 0;
    
}

nav{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: grey;
}

nav ul {
    float: left;
    left :30%;
    margin-left:-40px;
    position: relative;
}

nav ul li {
    margin-left: 50px;
    float: left;
    list-style-type: none;
    left:-30%;
    
}
nav ul li a {
    text-align: center;
    display: inline-block;
    background-color: indianred;
    height: 25px;
    width: 100px;
    color: black;
    text-decoration: none;
    justify-items: end;
    align-items: center;
    }
nav ul li  a:hover{
    color: white;
    background-color: red;
}
main{
    display: block;
    margin : auto;
    width: 100%;
    margin-left: 300px;
}

footer{
    text-align: center;
    display: block;
    background-color: pink;
    height: 50px;
}

footer p {
    color: black;
    font-weight: bold;
    position: relative;
    top: 20px;
}

html, body {
    margin: 0;
  }
  .content {
   
    display: inline-grid;
    grid-template-columns: 200px 600px 600px 1vh;
    grid-template-rows: repeat(4, 100px) ;
    gap: 10px;
    grid-template-areas:
    "header header header header"
    " navigation navigation navigation navigation"
    ". titre . ."
    "groupe groupe groupe groupe"
    "solo solo solo solo"
    "footer footer footer footer";
  }
  
  .header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    background: lightblue;
  }
    
  
  .footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    background: palegoldenrod;
  }
  